<launch>
  <arg name="rviz" default="true" />
  <arg name="tf_conversion" default="true" />

  <node pkg="openvr_ros" type="track_publisher_node" name="track_publisher" output="screen" required="true" />
  <node pkg="openvr_ros" type="tracked2tf.py" name="tracked2tf_node" output="screen" required="true" if="$(arg tf_conversion)">
    <param name="pose_topic" value="/track_publisher/tracked_device_pose" />
  </node>

  <include file="$(find digiexp_description)/launch/load_model.launch" if="$(arg rviz)">
    <arg name="model" value="$(find openvr_ros)/model/environment.urdf.xacro" />
    <arg name="rviz" value="true" />
    <arg name="gui" value="false" />
    <arg name="rvizconfig" value="$(find openvr_ros)/config/settings.rviz" />
  </include>
</launch>
